<ion-view title="Profile">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon" hide-Back-Button="false"></button>
  </ion-nav-buttons>
  <ion-content scroll>
    <h2>2013 Porsche 911 Carrera</h2>
    <img src="http://img2.carmax.com/image/12661533/216/162">
    <h3>$65,998, 12K Miles</h3>
    <p>
	    Drive: 2WD</br>
	    Trans: Automatic</br>
	    MPG: 20/28</br>
	    Color: Black</br>
	    Interior Color: Black </br>
    </p>
    <h4>Additon Details</h4>
    <p>Premium Package, Leather Seats, Navigation System, Rear Spoiler, Front Seat Heaters, BOSE Sound System</p>

  </ion-content>
</ion-view>
