<ion-view title="Discovery Settings">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon" hide-Back-Button="true"></button>
  </ion-nav-buttons>
  <ion-content scroll="false">
     <ion-list>
    <h2 style="text-align: center;">Price</h2>
  <div class="item range range-positive">
    <i class="icon ion-social-usd-outline"></i>
    <input type="range" name="volume" min="0" max="100" value="100">
    <i class="ion-social-usd"></i>
  </div>
  <h2 style="text-align: center;">Distance</h2>
  <div class="item range range-positive">
    <i class="ion-location"></i>
    <input type="range" name="volume" min="0" max="100" value="33">
    <i class="ion-map"></i>
  </div>
    </ion-list>
  </ion-content>
</ion-view>
