<ion-view title="Home">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon" hide-Back-Button="true"></button>
  </ion-nav-buttons>
  <ion-content scroll="false">
	 <td-pulse ng-if="pulse">
            <img src="./img/pulse.png"" />
        </td-pulse>

        <td-cards delegate-handle="cards" ng-if="cards.length > 0">
            <td-card ng-repeat="card in cards" on-destroy="remove($index)" on-transition-left="reject($index)" on-transition-right="like($index)">
                <span class="no">NOPE</span>
                <span class="yes">LIKE</span>
                <img ng-src="{{card.picture}}" width="300" height="300" />
                <div class="caption">
                    <h2 class="title">{{card.vehicle_title}}</h2>
                    <p class="description">{{card.price}}, {{card.miles}} Miles</p>
                </div>
            </td-card>
        </td-cards>

        <td-controls ng-if="cards.length > 0">
            <td-control-button action="no" icon="ion-close" ng-click="swipeLeft()"></td-control-button>
            <td-control-button action="yes" icon="ion-heart" ng-click="swipeRight()"></td-control-button>
        </td-controls>
  </ion-content>
</ion-view>
